<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Product Id="5DA51200-0E35-477F-8783-B8BDA2680836" Name="atom_wix" Language="1033" Version="1.0.0.0" Manufacturer="GitHub" UpgradeCode="185cc36c-175e-4f07-a9e9-3d79a6640f0b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="atom_wix" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Atom" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent" Guid="5DA51200-0E35-477F-8783-B8BDA2680836">
        <CreateFolder Directory="INSTALLFOLDER"></CreateFolder>
        <CopyFile SourceDirectory=""/>
        
        <!-- TODO: Insert files, registry keys, and other resources here. -->
			  </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>